.row{
	padding-left: 15px;
	padding-right: 15px;
}
.page-header{
	margin:0px;
	padding-left: 15px;
	background-image: url(../media/bground.jpg);
}
thead{
	font-weight: bold;
}
.well{
	background-color: white;
	margin:15px;
	padding:5px;
}
td{
	padding:5px;
}
.page{
	margin:0px;
	padding:0px;
}