<!doctype html>
<html ng-app="mtw">
	<head>
    	<script src="js/angular.js"></script>
    	<script type="text/javascript" src="js/jquery.js"></script>
    	<script type="text/javascript" src="js/bootstrap.js"></script>
    	<script type="text/javascript" src="js/metaWeatherApp.js"></script>
    	<link rel="stylesheet" href="css/bootstrap.css">
    	<link rel="stylesheet" href="css/metaw.css">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container-fluid page">
			<div class="row col-md-12 page-header">
				<h1>MetaWeather <small></br>the weather you need</small></h1>
			</div>
			<div class="row">	
				<div ng-controller="DataController">
					<div class="col-md-2">
						<div class="row">
							<h3><small>Search options</small></h3>
							
								<ul class="nav nav-pills nav-stacked">
									<li role="presentation" >
										Type:
										<select class="form-control" ng-model="locateType">
										<option ng-repeat ="n in listLocateType" value="{{n}}">{{n}}</option>
										</select>
									</li>
									<li role="presentation" >
										Up to (days):
										<select class="form-control" ng-model="days" ng-options="n for n in listDays">
										</select>
									</li>
									<li role="presentation" >
										Language:
										<select class="form-control" ng-model="lang" ng-options="n for n in listLang">
										</select>
									</li>
									<li role="presentation" >
										Metric:
										<select class="form-control" ng-model="metric">
										<option ng-repeat ="n in listMetric" value="{{n}}">{{n}}</option>
										</select>
									</li>
								</ul>
							
						</div>
						<div class="row">
							<h3><small>Search</small></h3>
							<input type="text" ng-model="req"/>
							<input ng-click="testUrl()" type="submit" href="#" value="Forecast !"/>
						</div>
					</div>
					<div class="col-md-10">
						<h3><small><input ng-click="testUrl()" type="submit" href="#" value="Search"/> for <strong>{{req}}</strong> 
							(<strong>{{locateType}}</strong>) 
							up to: <strong>{{days}}</strong> 
							days with <strong>{{metric}}</strong> system. 
							(Language setting : <strong>{{lang}}</strong> )</small></h3>
							<div ng-bind-html="contentResponse"></div>
							{{}}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
